*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     list-style: none;
}

html{
     scroll-behavior: smooth;
}

html,body{
     width: 100%;
     height: 100%;
}

.main{
     width: 100%;
     min-height: 100vh;
     background-color: black;
     display: flex;
}


  .left{
     width: 60%;
     min-height: inherit;
     background-color: red;
     background-image: url(./asset/80139812-leaves-on-plain-white-wallpaper.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed; 
}


 .right{
     width: 40%;
     min-height: inherit;
     background-color: black;
     background-image: url(https://images.squarespace-cdn.com/content/v1/5315db84e4b02c6fff2d3279/1504025961571-VGXEDGT6Z1NXJSQ9ZSCP/downtown+michigan+senior+photoshoot+coffee+house+.jpg?format=1500w);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
} 

 .nav{
     font-family:Montserrat;
     width: 100%;
     padding: 20px 40px;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     display: inline-flex;
}

 .nav .nright{
     width: 48%; 
     display: inline-flex;
     align-items: center;
     justify-content: space-between;
     text-transform: capitalize;
}

.nav .nleft{
     width: calc(100% - 48%);
     display: inline-flex;
     align-items: center;
     justify-content: space-between;
     text-transform: capitalize;
}

.nleft h1{
     color: #111;
     font-size: 1.5rem;
     font-weight: 700;
}

 .nav .nright button {
     background-color: transparent;
     font-family: Montserrat;
     padding: 10px 20px;
     color: #fff;
     border-radius: 5px;
     border: 1px solid #fff;
     outline: none;
}

.nav .nright a{
     color: #fff;
}



.left .dash{
     transform: translateY(150px);
     display: flex;
     flex-direction: column;
     padding-left: 70px;
     line-height: 1.3;
     letter-spacing: 2px;
     font-family: Montserrat; 
}

.dash h1{
     font-size: 3rem;
     font-weight: 400;
     text-transform: capitalize;
}

.imgDiv{
     font-family: Source Code Pro;
     padding-left: 70px; 
     transform: translateY(290px);
     color: #111;
     display: flex;
     align-items: center;  
     font-weight: 200;
     font-size: 15px;
}

.links{
     display: inline-flex;
     align-items: center;
      padding-top: 10px;
}

.links .logo{
     width: 150px;  
}


.onerPic{
     border-radius: 50%;
     width: 50px;
     padding-right:4px;
}

.footer p {
     color: #111;
     font-family:Source Code Pro;
     line-height: 1;
     font-size: 15px;
      transform: translateY(300px);
      padding-left: 80px;
      width: 80%;
}