:root{
  --black:black;
  --font-main:'Gill Sans' ;
  --wh:white;
  --bc:rgb(25,95,156);
  --color:#f08804;
}



*{
  font-family: var(--font-main);
    padding: 0;
    margin: 0;
    color: var(--wh);
    text-decoration: none;
    background-color:var(--bc);
}

html {
  scroll-behavior: smooth;
}

.navbar{
  height: 50px;
  background-color: var(--black);
  border: 3px solid var(--wh);
  padding: 1px;
}
 #amazonlogo {
    font-size: 25px;
    text-decoration: none;
  font-weight: 500;
       background-color: var(--black);
       margin-right: 200px;
       padding-left: 1px;
       color: var(--color);
 } 
 #account{
    margin-right: 200px;
     background-color: var(--black);
        text-transform: capitalize;
 }

 #cart{
  margin-right: 200px;
    background-color: var(--black);
       text-transform: capitalize;
 }
  #contact{
    margin-right: 200px;
     background-color: var(--black);
        text-transform: capitalize;
  }
 #search-button{
   background-color :var(--color);
   width: 50px; 
   text-align: center;
 }

 .search-input-bar{
   color: var(--black);
   background-color: var(--wh);
   text-align: center;
 }