:root{
 --font-main:'outfit';
--white: hsl(0, 0%, 100%);
--Slate-300: hsl(212, 45%, 89%);
--Slate-500: hsl(216, 15%, 48%);
--Slate-900: hsl(218, 44%, 22%);
--Fontsize-p: 15px;
}


*{
  margin: 0;
  padding: 0;
 font-family: var(--font-main);
 background-color: var(--Slate-300);
}

.qr-code{
  text-align: center;
  border-radius: 12px;
  width: 15em;
  height: 15em; 
  border-radius: 12px;
  border: 12px solid var(--white);
  padding-bottom: 10px;
}

.qr-code-img{
  background-color: var(--white);
  border-radius:12px ;
  line-height: 0.1em;
  width: 15em;
  height: 15em;
}